* {
    margin: 0;
    padding: 0;
}

#bg {
    background: #343a40;
}

.main {
    color: white;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -100%);
}

#h1 {
    font-size: 120px;
    font-family: sans-serif;
}

#h2 {
    font-family: sans-serif;
    font-size: 50px;
}

#h3 {
    font-weight: lighter;
    margin-top: 25px;
    font-size: 30px;
    font-family: sans-serif;
}

#h4 {
    position: absolute;
    top: 94%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-weight: lighter;
    font-family: sans-serif;
    color: white;
    font-size: 15px;
}

#hr {
    border: 1px solid white;
    margin-left: 4%;
    width: 90%;
    margin-top: 40px;
}

a {
    float: right;
}

#table {
    position: absolute;
    height: 180px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}

#inpText {
    padding-left: 3px;
    margin-bottom: 40px;
    background-color: #d2d8de;
    border: none;
    width: 89%;
    height: 40px;
    font-size: 18px;
    outline: none;
}

.xIcon {
    width: 19px;
    float: right;
    cursor: pointer;
    position: relative;
}

.xIcon:hover {
    width: 23px;
    transition: 0.2s;
}

.todoOpen:hover {
    font-size: 25px;
    transition: 0.2s;
    text-shadow: 2px 2px gray;
}

#inpText:focus {
    border: 2px solid gray;
    color: black;
}

.hideMe {
    display: none;
}

li {
    word-wrap: break-word;
    height: auto;
    border-bottom: 1px solid #424950;
    border-top: 1px solid #424950;
    list-style-type: none;
}

input {
    cursor: pointer;
}

.numbering {
    color: #bdaaaa;
}

.disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: grey;
}


 #btnEdit {
    width: 68px;
    margin: 5px 5px 2px 1px;
}

#btnRemove {
    margin: 5px 7px 2px 1px;
}

#noTodos {
    text-align: center;
    padding-top: 20px;
}

.emptyTodo {
    list-style-type: none;
    height: 100px;
    text-align: center;
    color: #bdaaaa;
}

.triangle {
    display: none;
    position: absolute;
    bottom: 38px;
    right: 63px;
    width: 25px;
}

.fade {
    background-color: grey;
}

#buttonsObg {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    padding-right: 15px;
}

ul li:hover {
    background: #424950;
}

#progress {
    margin-right: 5px;
    display: flex;
    justify-content: space-between;
}

#dateToday {
    font-size: 14px;
    color: lightgray;
}

#checkbox:checked+label.strikethrough {
    text-decoration: line-through;
    color: dimgray;
}

.strikethrough {
    color: white;
    margin-left: 30px;
    font-size: 20px;
}

.checked {
    height: auto;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.done {
    margin-left: 30px;
    font-size: 14px;
}
